# Temel Test Çerçevesi
pytest
pytest-asyncio

# Uçtan Uca (E2E) UI Testleri
playwright
pytest-playwright

# API ve Entegrasyon Testleri
httpx

# Performans ve Yük Testleri
locust

# Yapay Zeka Değerlendirme (AI Eval & RAG)
langchain-core
langchain-groq

# Test Raporlama
allure-pytest


# 
    httpx: test_feedback.py ve test_toxicity.py dosyalarındaki AsyncClient ile sunucuya sanal istekler atmayı sağlayan kütüphane.

    langchain-groq: Llama 3.1 hakem modelimizi çalıştıran anahtar paket.

    langchain-core: Hakem botunu eğitirken kullandığımı "Sadece 0 veya 1 dön" dediğim PromptTemplate yapısını sağlayan çekirdek kütüphane.

    pytest-playwright: Playwright'ın Pytest ile tam uyumlu ve sorunsuz çalışmasını (tarayıcı context'lerini yönetmesini) sağlayan eklenti.
#