# Temel Test Çerçevesi
pytest
pytest-asyncio

# Uçtan Uca (E2E) UI Testleri
playwright
pytest-playwright

# API ve Entegrasyon Testleri
httpx

# Performans ve Yük Testleri
locust

# Yapay Zeka Değerlendirme (AI Eval & RAG)
langchain-core
langchain-groq

# Test Raporlama
allure-pytest

# Mock
pytest-mock